{% extends "base_menu.html" %}

{% block page_header %}
<h2 class="display-5 text-dark">
    Browse brands</h2>
<p class="badge text-secondary mt-3 p-2 rounded-3"
    style="background-color: #e3e9fd">
    {% if brand_count != 1 %} {{ brand_count }} brands<br><br><br>
    {% else %} {{ brand_count }} brand<br><br><br>{% endif %}
    {% if product_count != 1 %} {{ product_count }} products</p>
    {% else %} {{ product_count }} product</p>{% endif %}
<a class="btn btn-md btn-outline-primary" style="float:right"
    href="{% url 'prcr:brand_create' %}">
    Add a brand<br> to pricer &raquo;</a>
{% endblock page_header %}


{% block content %}
{% if brand_list %}
{% for brand in brand_list %}
{% comment %} <div class="p-1 m-3 bg-light rounded-3" style="background-color: #e3f2ed !important;"> {% endcomment %}
    <div class="container-fluid mb-3">
        <h4 class="p-3 m-2 bg-light rounded-3 shadow-sm text-dark d-flex justify-content-between align-items-center" 
            style="background-color: #e3e2fd !important;">
            {{ brand }}
            <a href="{% url 'prcr:product_brand_create' brand.id %}"
                class="btn btn-sm btn-outline-secondary">
                Add {{ brand.brand }} products &raquo;</a>
        </h4>
    </div>
    <div class="container">
        {% if product_list %}
        <div class="row m-0">
            {% for product in product_list %}
            {% if product.brand.id == brand.id %}
            <a href="{% url 'prcr:product_detail' product.id %}" class="col-md-6"
                style="text-decoration: none;">
                <div class="card p-3 row g-0 border rounded-3 overflow-hidden mb-4 shadow-sm h-md-250 position-relative"
                style="background-color: #e3f2e9 !important;">
                    <div class="row g-0 card-header flex-md-row">
                        <h5 class="pt-2 text-dark">
                        {{ product.product }}</h5>
                        </div>
                    <div class=" card-body d-flex justify-content-between align-items-center">
                        <p class="card-text mb-auto text-dark text-small">
                            {% if feature_list %} <span class="text-muted">&#9679;</span>
                            {% for feature in feature_list %}
                            {% if feature.product.id == product.id %}
                            {{ feature }} &raquo;
                            {% endif %}{% endfor %}{% endif %}
                        </p>
                        {% if product.content_type %}
                        <img src="{% url 'prcr:product_picture' product.id %}"
                        class="rounded-3 ms-3" style="height: 99px; float: right;">
                        {% endif %}
                    </div>
                </div>
            </a>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
    </div>
{% endfor %}
{% else %}
<div class="p-1 m-3 bg-light rounded-3" style="background-color: #e3f2ed !important;">
<p class="p-3 m-2 text-danger">There are no brands yet in Pricer<br>
    Add categories, subcategories and brands before creating a product</p>
</div>
{% endif %}
{% endblock content %}


{% block footer %}
{% comment %} Thinking of something better to put here. {% endcomment %}
    <p>Copyright or something</p>
{% endblock footer %}