{% extends "base_menu.html" %}

{% block page_header %}
<div class="p-2 m-2 bg-light rounded-3" style="background-color: #e3e2fd !important;">
    <div class="container-fluid py-1 d-flex justify-content-between align-items-center">
        <h2 class="display-5 text-secondary">
            Browse<br>categories</h2>

        <p class="badge text-secondary mt-3 p-2 rounded-3"
            style="background-color: #e3e9fd">
            {{ category_count }} categories<br><br>
            {{ subcategory_count }} subcategories<br><br>
            {{ product_count }} products<br></p>
        
        <a class="btn btn-md btn-outline-primary" style="float:right"
            href="{% url 'prcr:category_create' %}">
            Add a category<br>to Pricer &raquo;</a>
    </div>
</div>
{% endblock page_header %}

{% block content %}
{% if category_list %}
{% for category in category_list %}
<div class="p-1 m-3 bg-light rounded-3" style="background-color: #e3f2ed !important;">
    <div class="container-fluid">
        <h4 class="p-3 m-2 bg-light rounded-3 text-muted d-flex justify-content-between align-items-center" 
        style="background-color: #e3e2fd !important;">
            {{ category.category }}
            <a href="{% url 'prcr:subcategory_create' category.id %}"
                class="btn btn-sm btn-outline-secondary">
                Add a subcategory to {{ category.category }} &raquo;</a>
            </h4>
            <ul>
                {% if subcategory_list %}
                {% for subcategory in subcategory_list %}
                    {% if subcategory.category.id == category.id %}
                    <li style="list-style-type: none; width: 90%;">
                        <a href="{% url 'prcr:product_list' subcategory.id %}"
                        style="width: 100%; text-align: left;"
                        class="btn btn-sm btn-outline-dark mb-1">
                        {{ subcategory.subcategory }}</a>
                    </li>
                    {% endif %}
                {% endfor %}
                {% endif %}
            </ul>            
        </ul>
    </div>
</div>
{% endfor %}
{% else %}
    <p>There are no categories yet in Pricer</p>
{% endif %}

{% endblock content %}