{% extends "base_menu.html" %}


{% block page_header %}
<h2 class="display-5 text-dark">
    Browse<br>categories</h2>
<p class="badge text-dark mt-3 p-2 rounded-3 shadow-sm"
    style="background-color: #e3e9fd">
    {% if category_count != 1 %} {{ category_count }} categories<br><br>
    {% else %} {{ category_count }} category<br><br>{% endif %}
    {% if subcategory_count != 1 %} {{ subcategory_count }} subcategories<br><br>
    {% else %} {{ subcategory_count }} subcategory<br><br>{% endif %}
    {% if product_count != 1 %} {{ product_count }} products<br><p>
    {% else %} {{ product_count }} product<br></p>{% endif %}
<a class="btn btn-md btn-outline-primary" style="float:right"
    href="{% url 'prcr:category_create' %}">
    Add a category<br>to Pricer &raquo;</a>
{% endblock page_header %}


{% block content %}
{% if category_list %}
{% for category in category_list %}
<section class="p-1 m-3 bg-light rounded-3" style="background-color: #f7f6fd !important;">
    <div class="container-fluid">
        <h4 class="p-3 mb-3 bg-light rounded-3 shadow-sm text-dark d-flex justify-content-between align-items-center" 
        style="background-color: #e3e2fd !important;">
        {{ category.category }}
        <a href="{% url 'prcr:subcategory_create' category.id %}"
            class="btn btn-sm btn-outline-secondary">
            Add a subcategory to {{ category.category }} &raquo;</a></h4>
        {% if subcategory_list %}
        <ul>
            {% for subcategory in subcategory_list %}
            {% if subcategory.category.id == category.id %}
            <li style="list-style-type: none; width: 90%;">

                <a href="{% url 'prcr:product_list' subcategory.id %}"
                    style="text-decoration: none;">
                    <div class="list_item p-2 mb-3 rounded 3 shadow-sm text-dark text-small"
                    style="background-color: #e3f2ed !important;"
                    onmouseover="document.getElementsByClassName('list_item').style.backgroundColor = '#797979';"
                    onmouseout="document.getElementsByClassName('list_item').style.backgroundColor = '#e3f2ed';">
                    <strong>{{ subcategory.subcategory }}</strong>
                    {% if product_list %}<span class="text-muted">
                        {% for product in product_list %}
                        {% if product.subcategory.id == subcategory.id %}
                        {% if forloop.counter < 30 %}
                        &#9679; {{ product.product }} ({{ product.brand.brand }})
                        {% endif %}
                        {% endif %}
                        {% endfor %}</span>
                    {% endif %}
                    </div>
                </a>
            </li>
            {% endif %}
            {% empty %}
            <p class="p-3 m-2 text-danger">This category has no subcategories. Add one.</p>
            {% endfor %}
        </ul>
        {% endif %}            
    </div>
</section>
{% endfor %}
{% else %}
<section class="p-1 m-3 bg-light rounded-3" style="background-color: #e3f2ed !important;">
    <div class="container-fluid">
        <p class="p-3 m-2 text-danger">There are no categories yet in Pricer.<br>
            Add categories, subcategories and brands before creating a product.</p>
    </div>
</section>
{% endif %}
{% endblock content %}


{% block footer %}
{% comment %} Thinking of something better to put here. {% endcomment %}
    <p>Copyright or something</p>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
{% endblock footer %}