{% extends "base_form.html" %}


{% block page_header %}
<h3 class="display-6 text-dark">Add a new price link to<br>
    <span class="text-primary display-3"> {{ product.product }} </span>
    <span class="text-small"> ({{ product.brand.brand }}) </span></h3>
{% endblock page_header %}


{% block inner_content %}
<input type="submit" value="Cancel" class="btn btn-lg btn-outline-danger"
    onclick="window.location.href='{% url 'prcr:product_detail' product.id %}';return false;">
{% endblock inner_content %}