{% extends "base_menu.html" %}


{% block page_header %}
<h2 class="display-5 text-secondary">Add an image for {{ product }} </h2>
{% endblock page_header %}


{% block content %}
<div class="p-1 m-3 bg-light rounded-3" style="background-color: #e3f2ed !important;">
    <div class="container-fluid p-3">
        {% load crispy_forms_tags %}
        <form action="" method="post" id="upload_form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Submit" class="btn btn-lg btn-outline-success me-3">
            <input type="submit" value="Cancel" class="btn btn-lg btn-outline-danger"
                onclick="window.location.href='{% url 'prcr:main_list'%}';return false;">
        </form>
    </div>
</div>
<!-- https://stackoverflow.com/questions/2472422/django-file-upload-size-limit -->
<script>
document.getElementById("upload_form").addEventListener("submit", function() {
    console.log('Checking file size');
    if (window.File && window.FileReader && window.FileList && window.Blob) {
        var file = document.getElementById('id_{{ form.upload_field_name }}').files[0];
        if (file && file.size > {{ form.max_upload_limit }} ) {
          alert("File " + file.name + " of type " + file.type + " must be < {{ form.max_upload_limit_text }}");
        return false;
        }
    }
});
</script>
{% endblock content %}