{% extends "base_menu.html" %}
{% load humanize %}
{% block head %}
<style>
    .overlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        display: none;
        background-color: rgba(0,0,0,0.5);
    }
</style>
{% endblock head %}


{% block page_header %}
<h2 class="display-6 text-primary"> {{ product.product }} <br>
    <span class="fs-5 text-muted"> {{ product.brand }} </span>
</h2>
<p class="badge text-secondary mt-3 p-2 rounded-3 shadow-sm"
    style="background-color: #e3e9fd">
    updated<br><br>{{ product.natural_updated }}</p>
<p>{% if product.owner == user %}
    <a href="{% url 'prcr:product_update' product.id %}"
        class="btn btn-md btn-outline-secondary mt-5">Edit &raquo;</a>
{% endif %}</p>
{% endblock page_header %}


{% block content %}
{% if product.content_type %}
<div id="overlay" class="overlay" style="text-align: center;"
    onclick="document.getElementById('overlay').style.display = 'none';" >
    <img style="width:90%; margin-top: 50px; border: 3px solid black;" 
        src="{% url 'prcr:product_picture' product.id %}">
</div>
{% endif %}
<div class="p-1 m-3 bg-light rounded-3 shadow-sm"
    style="background-color: #e3f2ed !important;">
    <div class="container">
        <section class="row">
            <div class="col-7 mt-3">
                <h5>Product features</h5><p class="fs-6 text-dark">
                    {% if feature_list %}{% for feature in feature_list %}{{ feature }} &raquo; 
                    {% endfor %}{% else %}The feature list is empty{% endif %}</p>
                <a href="{% url 'prcr:feature_create' product.id %}"
                    class="btn btn-sm btn-outline-secondary text-start mb-3">
                    Add a product feature &raquo;</a><br>
                {% if price_list %}
                <a href="{{ lowest_price.link }}" target="_blank"
                    class="btn btn-md btn-outline-success text-dark text-start mt-3">
                    <span class="fs-5">Best price ${{ lowest_price.price|intcomma }} &raquo;</span><br>
                    <span class="text-secondary">{{ lowest_price.domain }} 
                        {{ lowest_price.date_observed|naturalday }}</span></a><br>
                <a href="{{ highest_price.link }}" target="_blank"
                    class="btn btn-md btn-outline-danger text-dark text-start mt-3">
                    <span class="fs-5">Worst price ${{ highest_price.price|intcomma }} &raquo;</span><br>
                    <span class="text-secondary">{{ highest_price.domain }} 
                    {{ highest_price.date_observed|naturalday }}</span></a>
                {% else %}<p>Price list is empty{% endif %}</p>
                <a href="{% url 'prcr:price_create' product.id %}"
                    class="btn btn-sm btn-outline-secondary text-start mb-3">
                    Did you see an offer online? Add a price link &raquo;</a>
            </div>
            <div class="col-5">
                {% if product.content_type %}
                <img src="{% url 'prcr:product_picture' product.id %}"
                    class="rounded-3 mt-3" style="width: 100%"
                    onclick="document.getElementById('overlay').style.display = 'block';">
                {% else %}
                <div class="container-fluid rounded-3 mt-3" 
                    style="width: 100%; height: 86%;">
                    <a href="{% url 'prcr:product_add_image' product.id %}"
                        class="btn btn-lg btn-outline-dark" id="noPic"
                        style="width: 100%; height: 100%; background-color: #dedede;"
                        onmouseover="document.getElementById('noPic').style.backgroundColor = '#797979';"
                        onmouseout="document.getElementById('noPic').style.backgroundColor = '#dedede';">
                        <br>Add an image</a> 
                </div>
                {% endif %}
            </div>
        </section>
        <section class="row">
            <div class="col-11 m-3" style="width: 96%" >
                {{ price_chart|safe }}
            </div>
        </section>
        <section class="row">
            <div class="col-11 ms-5 mt-2" style="width: 96%" >
                <h5>Price history</h5>
                <a href="{% url 'prcr:price_create' product.id %}"
                    class="btn btn-sm btn-outline-secondary text-start mb-3">
                    Did you see an offer online? Add a price link &raquo;</a>
                {% if price_list %}{% for price in price_list %}
                {% if price.price == lowest_price.price %}
                <p><a href="{{ price.link }}" class="btn btn-md btn-outline-success text-dark"
                    target="_blank">
                    <strong>Best offer &#9679; ${{ price.price|intcomma }}</strong>
                    &#9679; {{ price.domain }}
                    &#9679; {{ price.natural_date_observed }} </a></p>
                {% else %}
                <p><a href="{{ price.link }}" class="btn btn-sm btn-outline-dark"
                    target="_blank">
                    <strong>${{ price.price|intcomma }}</strong>
                    &#9679; {{ price.domain }}
                    &#9679; {{ price.natural_date_observed }} </a></p>
                {% endif %}{% endfor %}{% endif %}
            </div>
        </section>
    </div>
</div>
{% endblock content %}


{% block footer %}
<p><a href="{% url 'prcr:product_list' product.subcategory_id %}"
    class="btn btn-sm btn-outline-secondary m-2">
    Back to browsing {{ product.subcategory }} &raquo;</a></p>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
{% endblock footer %}
