{% extends "base_menu.html" %}

{% block page_header %}
<div class="p-3 m-2 bg-light rounded-3" style="background-color: #e3e2fd !important;">
    <div class="container-fluid py-1 d-flex justify-content-between align-items-center">
        <h2 class="display-5 text-muted"> {{ subcategory.subcategory }} </h2>
        <p><a class="btn btn-md btn-outline-primary mt-3" 
            href="{% url 'prcr:product_create' %}">
            Add a new product &raquo;</a></p>
    </div>
</div>
{% endblock page_header %}

{% block content %}
{% for product in filtered_products %}
<div class="p-2 pt-3 m-3 bg-light rounded-3" style="background-color: #e3f2ed !important;">
    <div class="container-fluid d-flex justify-content-between" style="min-height: 111px;">
        <div><p class="text-dark">
            <a href="{% url 'prcr:product_detail' product.id %}" style="text-decoration: none"> 
                {{ product.product }}
                {% for brand in brands %}{% if brand.id == product.brand_id %}
                <span class="small text-muted">({{ brand.brand }})</span></a></p>
                {% endif %}{% endfor %}
            <p class="small text-dark">
            {% if feature_list %}{% for feature in feature_list %}{% if feature.product_id == product.id %}
            {{ feature }} &raquo; {% endif %}{% endfor %}{% endif %}
            {% if product.owner_id == user.id %}
            <p><a class="btn btn-sm btn-outline-secondary mt-1 text-muted" 
                href="{% url 'prcr:product_update' product.id %}">
                Edit this product &raquo;</a></p>
            {% endif %}
        </div>
        {% if product.content_type %}
        <img style="float:right; height: 100px;" class="rounded-3 me-1" 
            src="{% url 'prcr:product_picture' product.id %}">
        {% else %}
        <div class="outline-secondary rounded-3 me-1" 
            style="height: 100px; width: 100px; padding: 22px 15px; text-align: center; border: 1px dashed gray;">
            <a class="text-muted" style="text-decoration: none;"
                href="{% url 'prcr:product_add_image' product.id %}">
                Add an image</a> {% comment %} make a form to only add a picture {% endcomment %}
        </div>
        {% endif %}
    </div>
</div>
{% empty %}
<div class="p-3 m-3 bg-light rounded-3" style="background-color: #e3f2ed !important;">
    <div class="text-danger" style="height: 125px;">
        <p>There are no products yet in this subcategory.</p>
    </div>
</div>
{% endfor %}

{% endblock content %}

{% block footer %}
<div class="p-3 m-2 bg-light rounded-3" style="background-color: #e3e2fd !important;">
    <p>Copyright or something</p>
</div>
{% endblock footer %}