{% extends "base_menu.html" %}


{% block page_header %}
<h2 class="display-5 text-secondary">Add a new subcategory to {{ category }} </h2>
{% endblock page_header %}


{% block content %}
<div class="p-1 m-3 bg-light rounded-3" style="background-color: #e3f2ed !important;">
    <div class="container-fluid p-3">
        {% load crispy_forms_tags %}
        <form action="" method="post" id="upload_form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Submit" class="btn btn-lg btn-outline-success me-3">
            <input type="submit" value="Cancel" class="btn btn-lg btn-outline-danger"
                onclick="window.location.href='{% url 'prcr:main_list'%}';return false;">
        </form>
    </div>
</div>
{% endblock content %}